extends layout

block content

    div.row

        // COLUMN 1
        div.col

            div.card
                div.card-header

                    | Budgets

                // List of budgets
                ul(class="list-group list-group-flush")

                    // For all our active budgets, we'll list them here
                    if budgets
                        each budget in budgets

                            // Each Budget is displayed with its name, percentage bar, edit button, and delete button

                            - var name = budget[0].name;
                            - var spent = budget[1];
                            - var amount = budget[0].amount;
                            li.list-group-item

                                div.row

                                    div.col-3

                                        p #{name}

                                    div.col-4

                                        div.progress

                                            div(class="progress-bar bg-success" role="progressbar" style="width: 10%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100")

                                                | #{Math.floor((spent/amount)*100)}%

                                    div.col-3

                                        p #{amount-spent} remaining

                                    div.col-1

                                        button(type="button" class="close" /*data-dismiss="modal" aria-label="Close"*/) 
                                        
                                            // Purely decorative, not useful for accessibility software
                                            // "X" symbol for the close button
                                            span(aria-hidden="true") 

                                                i(class="bi-pencil-square")

                                    div.col-1

                                        
                                        button(type="button" class="close" /*data-dismiss="modal" aria-label="Close"*/) 
                                        
                                            // Purely decorative, not useful for accessibility software
                                            // "X" symbol for the close button
                                            span(aria-hidden="true")

                                                i(class="bi-x-lg")
                
                // Add Budget Button
                button(class="btn btn-dark bg-primary" type="button" data-toggle="modal" data-target="#addBudgetModal") Add Budget

                // Add Budget Modal
                // Tab-index of -1 prevents sequential tab behavior on the element
                // The dialog aria role gives this Div some semantic meaning
                div(id="addBudgetModal" class="modal fade" tabindex="-1" role="dialog")
                    div(class="modal-dialog" role="document")
                        div.modal-content

                            // Header
                            div.modal-header

                                h5.modal-title Add Budget

                                button(type="button" class="close" data-dismiss="modal" aria-label="Close") 
                                
                                    // Purely decorative, not useful for accessibility software
                                    // "X" symbol for the close button
                                    span(aria-hidden="true") &times;

                            // Body
                            div.modal-body

                                form

                                    div.form-group

                                        label(for="addBudgetNameInput") Name
                                        input(id="addBudgetNameInput" type="text" class="form-control" placeholder="Enter Budget Name")

                                    div.form-group

                                        label(for="addBudgetAmount") Amount Per Month
                                        input(id="addBudgetAmount" type="number" class="form-control" placeholder="Enter Budget Amount")

                                    div.form-group

                                        label(for="addBudgetCategories") Category
                                        select(id="addBudgetCategories" class="form-control")

                                            each category in categories

                                                option= category.name

                                        div.row
                                            div(class="col pr-0")
                                                input(type="text" class="form-control saveCategory" placeholder="Add Category")
                                            div(class="col pl-0")
                                                button(type="button" class="btn btn-primary saveCategory") Save
                                        
                            // Footer
                            div.modal-footer
                                button(type="button" class="btn btn-secondary" data-dismiss="modal") Close
                                button(type="button" class="btn btn-primary") Save Budget
                                

        // COLUMN 2
        // COMPONENT: Uninspected Transactions            
        div.col

            div.card
                div.card-header

                    | Uninspected Transactions
                ul(class="list-group list-group-flush")

                    if uninspectedTransactions
                        each transaction in uninspectedTransactions
                            li.list-group-item= transaction


    script(src="/javascripts/dashboardEventListeners.js" type="module")                    